{% extends "./base.html" %}

{% block tabs %}
<div class="tabs is-boxed">
    <ul>
        <li>
            <a href="{{url_for('announcements.announce')}}">
                <span class="icon"><box-icon name='volume-full'></box-icon></span>
                <span>Announce</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('announcements.messages')}}">
                <span class="icon"><box-icon name='message-dots' type='solid'></box-icon></span>
                <span>Messages</span>
            </a>
        </li>
        <li class="is-active">
            <a href="{{url_for('suggestions.index')}}">
                <span class="icon"><box-icon name='star' type='solid' class="has-text-primary-50"></box-icon></span>
                <span>Suggestions</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('suggestions.reply_dormant')}}">
                <span class="icon"><box-icon name='hot' type='solid'></box-icon></span>
                <span>Reply</span>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="box">
    <p class="title is-1">Suggestions <span class="tag is-primary is-medium">{{unread}} Unread</span></p>
    <hr>
    <div class="my-5">
        <div class="columns">
            <div class="column is-7">
                {% for suggestion in suggestions %}
                <div class="box">
                    <div class="content p-5">
                        {{suggestion.text}}
                        <p class="has-text-primary-40 has-text-weight-bold mt-2">at {{suggestion.date | datetime}}</p>

                        <hr>
                        <p class="subtitle is-5 has-text-weight-semibold">
                            Replies
                        </p>

                        <ul>
                            {% for reply in suggestion.replies %}
                                <li>{{reply.text}}</li>
                            {% endfor %}
                        </ul>
                        <div class="buttons">
                            <a href="/suggestions/{{suggestion.id}}/reply"
                                class="button is-primary"><strong>Reply</strong></a>

                            {% if not suggestion.is_read %}
                                <a href="/suggestions/{{suggestion.id}}/read" class="button is-outlined is-primary">Mark
                                Read</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}