{% extends 'base.html' %}

{% block tabs %}
<div class="tabs is-boxed">
    <ul>
        <li>
            <a href="{{url_for('announcements.announce')}}">
                <span class="icon"><box-icon name='volume-full'></box-icon></span>
                <span>Announce</span>
            </a>
        </li>
        <li class="is-active">
            <a href="{{url_for('announcements.messages')}}">
                <span class="icon"><box-icon name='message-dots' type='solid'></box-icon></span>
                <span>Messages</span>
            </a>
        </li>
        <li class="">
            <a href="{{url_for('suggestions.index')}}">
                <span class="icon"><box-icon name='star' type='solid' class="has-text-primary-50"></box-icon></span>
                <span>Suggestions</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('suggestions.reply')}}">
                <span class="icon"><box-icon name='hot' type='solid'></box-icon></span>
                <span>Reply</span>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="box">
    <p class="title is-1">Messages</p>
    <hr>
    <div class="columns">
        <div class="column is-7">
            {% for message in all_messages %}
            <div class="box">
                <div class="content">

                    <div>
                        {% if not message.text %}
                            <p class="has-font-weight-bold has-text-primary-30">No Message</p>
                        {% else %}
                            <span class="has-text-weight-semibold">Message: </span>{{message.text}}
                        {% endif %}
                    </div>

                    <div class="mt-2">
                        {% if not message.filename %}
                            <p class="has-text-primary-50">No File</p>
                        {% else %}
                            <span class="has-text-weight-semibold">File:</span> {{message.filename}}
                        {% endif %}
                    </div>

                    <p class="has-text-weight-bold mt-3">{{message.college}} College, {{message.level}} Level</p>
                    <p class="is-size-7 has-text-primary has-text-semibold">{{message.date | datetime}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}