{% extends 'base.html' %}

{% block content %}

<!-- FIXME There is an issue with this select field on mobile -->

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="box">
                        <form hx-post="/announce" enctype="multipart/form-data">
                            <p class="subtitle is-2 has-text-centered">Send a message</p>
                            <a href="{{url_for('routes.messages')}}" class="button mb-3 is-small is-light is-link">View Sent Messages</a>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input" name="password" type="password"
                                        placeholder="Secret Sender Password" disabled />
                                    <span class="icon is-small is-left">
                                        <box-icon name='lock-alt' type='solid'></box-icon>
                                    </span>
                                </p>
                            </div>
                            <div class="columns">
                                <div class="column is-half">
                                    <div class="field">
                                        <div class="control">
                                            <div class="select">
                                                <select name="colleges">
                                                    <option>All Colleges</option>
                                                    <option>CMSS Students</option>
                                                    <option>CST Students</option>
                                                    <option>COE Students</option>
                                                    <option>CLDS Students</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-half">
                                    <div class="field">
                                        <div class="control">
                                            <div class="select">
                                                <select name="levels">
                                                    <option>All Levels</option>
                                                    <option>100 Level Students</option>
                                                    <option>200 Level Students</option>
                                                    <option>300 Level Students</option>
                                                    <option>400 Level Students</option>
                                                    <option>500 Level Students</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <textarea name="message" id="" class="textarea" rows="15"
                                        placeholder="Enter a message"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <div class="file is-medium is-centered is-info has-name" id="file-js-example">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="file" />
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <box-icon name='upload'></box-icon>
                                                </span>
                                                <span class="file-label">Upload file</span>
                                            </span>
                                            <span class="file-name"> No file uploaded
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="submit" value="Submit"
                                        class=" button is-primary is-fullwidth is-medium">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="column is-4">
                    <p class="subtitle is-5">Preview</p>
                    <div class="content box" id="preview">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}